{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css'%}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diabetics</title>
</head>

<body>
    <!-- Header & NavBar-->
    <header class="main-header">
        <nav class="transparent">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo"><i class="material-icons"
                            style="font-size: xx-large;">local_hospital</i>Diabetics</a>

                </div>
            </div>
        </nav>
        <!-- Showcase -->
        <div class="showcase container">
            <div class="row">
                <div class="col s12 m10 offset-m1 center">
                    <br>
                    <h4 class='common-text' style="font-weight: 400;">Welcome To Diabetics</h4>
                    <br>
                    <h2 class='common-text' style="font-weight: 450;">Easy and Credible Diabetes Diagnosis</h2>
                    <br>
                    <br>
                    <p class="flow-text common-text" style="font-weight: 400;">
                        Go Back To Home Page?<br> Click Below..
                    </p><br>
                    <form action="gobackhome" method="POST">
                        {% csrf_token %}
                        <button type='submit' class="btn btn-large btn-floating transparent"><i
                                class="fas fa-chevron-circle-left "
                                style="font-size: xxx-large; padding-top:7px; opacity:0.7;"></i></button>
                    </form>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </header>

    <section class="section-inputs scrollspy" id='getresult'>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l6 pull-l1">
                    <br>
                    <h5 class="center">Enter Details</h5>
                    <hr>
                    <br>
                    <div class="card-panel blue darken-1">
                        <form action="model" method="POST">
                            {% csrf_token %}
                            <div class="input-field col s12">
                                <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                <input type="text" id="name" name="name" class="grey-text text-lighten-1" required />
                                <label for="name" class="grey-text text-lighten-3">Name</label>
                            </div>

                            <div class="row" style="margin: 0; padding:0;">
                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="preg" name="preg" class="grey-text text-lighten-1" required />
                                    <label for="preg" class="grey-text text-lighten-3">Pregnancies</label>
                                </div>

                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="glu" name="glu" class="grey-text text-lighten-1" required />
                                    <label for="glu" class="grey-text  text-lighten-3">Glucose</label>
                                </div>
                            </div>

                            <div class="row" style="margin: 0; padding:0;">
                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="bp" name="bp" class="grey-text text-lighten-1" required />
                                    <label for="bp" class="grey-text text-lighten-3">Blood Pressure</label>
                                </div>

                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="skt" name="skt" class="grey-text text-lighten-1" required />
                                    <label for="skt" class="grey-text  text-lighten-3">Skin Thickness</label>
                                </div>
                            </div>

                            <div class="row" style="margin: 0; padding:0;">
                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="ins" name="ins" class="grey-text text-lighten-1" required />
                                    <label for="ins" class="grey-text text-lighten-3">Insulin</label>
                                </div>

                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="bmi" name="bmi" class="grey-text text-lighten-1" required />
                                    <label for="bmi" class="grey-text  text-lighten-3">BMI</label>
                                </div>
                            </div>

                            <div class="row" style="margin: 0; padding:0;">
                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="dpf" name="dpf" class="grey-text text-lighten-1" required />
                                    <label for="dpf" class="grey-text text-lighten-3">DPF</label>
                                </div>

                                <div class="input-field col l6 m12 s12">
                                    <i class="material-icons prefix grey-text text-lighten-2">arrow_forward</i>
                                    <input type="text" id="age" name="age" class="grey-text text-lighten-1" required />
                                    <label for="age" class="grey-text  text-lighten-3">Age</label>
                                </div>
                            </div>


                            <div class="input-field center">
                                <button type="submit" value="submit" class="btn btn-medium darken-4 white-text waves-effect waves-light" style="background: #ff4b2b">
                                    <span class="white-text center">Get Results</span>
                                    <i class="material-icons right white-text">send</i>
                                </button>
                            </div>

                            <br />
                        </form>
                    </div>
                </div>
                <div class="col s12 m4 l5 push-l1">
                    <br>
                    <h5 class="center">Results</h5>
                    <hr>
                    <br>
                    <div class="card card-info">
                        <div class="card-action blue">
                            <hr />
                            <br />
                            <h5 class="grey-text text-lighten-3 center">
                                <i class="material-icons left" style="font-size: xx-large">beenhere</i>{{prediction}}
                                <i class="material-icons right" style="font-size: xx-large">beenhere</i>
                                <br />
                            </h5>
                            <br />
                            <hr />
                        </div>
                    </div>
                    <br>
                    <h5 class="center">Input Info</h5>
                    <hr>
                    <br>
                    <div class="card blue">
                        <div class="card-action">
                            <p class="grey-text text-lighten-3">
                                &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;Pregnancies - Number of times pregnant.
                                <br> &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;Glucose - Plasma glucose concentration after 2 hours in an oral glucose tolerance test.<br> &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;Blood
                                Pressure - Diastolic blood pressure (mm Hg).
                                <br> &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;Skin Thickness - Triceps skin fold thickness (mm).
                                <br> &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;Insulin - 2-Hour serum insulin (mu U/ml).
                                <br> &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;BMI - Body mass index (weight in kg/(height in m)^2).<br> &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;DPF - Diabetes pedigree function.
                                <br> &MediumSpace;&MediumSpace;&diamondsuit;&MediumSpace;&MediumSpace;Age - Patient Age(years).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="contact" class="page-footer scrollspy blue lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">
                        Our mission is to learn new skills and sharpen our old skills while being creative and and having the will to put in extra effort.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text"></h5>
                    <ul>
                        <li>
                            <a style="color: white; padding: 5px" href="https://facebook.com">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a style="color: white; padding: 5px" href="https://twitter.com">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a style="color: white; padding: 5px" href="https://instagram.com">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue darken-2">
            <div class="container">
                Diabetics &copy; 2020
                <a class="grey-text text-lighten-4 right" href="#!">Terms And Conditions</a>
            </div>
        </div>
    </footer>



    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
    <script>
        $(document).ready(function() {
            // Custom JS & jQuery here

        });
    </script>
</body>

</html>